@import "../util/style.scss";

.wrapper {
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.map > :first-child > * > :last-child {
  pointer-events: none; // 커스텀 오버레이 선택 제거
}

.cursor-follower {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  &.road_view {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid $col-b;
    border-radius: 100px;
    pointer-events: none;
    box-shadow: 0 0 5px $col-shd-b;
    transform: translate(-50%, -90%);
    background-color: $col-b-transparent;
  }
  // &.none {
  //   background-color: $col-k;
  // }
}
