@import "../util/style.scss";

.wrapper {
  position: relative;
  @include column(auto, auto, 0rem);
  align-items: flex-start;
  overflow: visible;
}

.shape {
  &-default {
    border-radius: 0.5rem;
  }
  &-rectangle {
    border-radius: 0;
  }
}

.solid {
  background-color: $col-w;
  border: 1px solid $col-g8;
  // @include shd-1;
}

.clickable {
  &.transparent {
    cursor: pointer;
    &:hover {
      background-color: $col-g95;
      // @include shd-1;
    }
  }
  &.solid {
    cursor: pointer;
    &:hover {
      background-color: $col-g95;
      // @include shd-2;
    }
  }
}

.full {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .transparent {
    cursor: pointer;
    background-color: $col-w;
    border: 1px solid $col-g8;
  }
  .clickable {
    &.transparent {
      cursor: pointer;
      &:focus {
        background-color: $col-g95;
        // @include shd-1;
      }
    }
  }
}
