@import "../util/style.scss";

.wrapper {
    position: relative;
    @include column(auto, auto, 0rem);
    align-items: flex-start;

    overflow: visible;
}

.shape {
    &-default {
        border-radius: .5rem;
    }
    &-rectangle {
        border-radius: 0;
    }
}

.solid {
    background-color: $col-w;
    border: 1px solid $col-g9;
    // @include shd-1;
}

.clickable {
    &.transparent {
        cursor: pointer;
        &:hover {
            background-color: $col-g95;
            // @include shd-1;
        }
    }
    &.solid {
        cursor: pointer;
        &:hover {
            background-color: $col-g95;
            // @include shd-2;
        }
    }
}

.full {
  width: 100%;
  height: 100%;
}

.tooltip {
    position: absolute;
    color: $col-g5;
    // background-color: $col-w;
    text-align: left;
    // border: 1px solid $col-g9;
    top: -0.25rem;
    transform: translate(0, -100%);
    > * {
            font-size: 0.75rem;
            opacity: 1;
        }
    transition: all 300ms;
    &-hidden {
        opacity: 0;
        visibility: hidden;
    }
}