@import "../util/style.scss";

// .wrapper {
// }

.type {
  &-row {
    @include row(auto, auto, none);
  }
  &-column {
    @include column(auto, auto, none);
  }
}

.align {
  &-left {
    align-items: flex-start;
  }
  &-right {
    align-items: flex-end;
  }
}

.attach {
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
}

// @media (max-width: 600px) {
//     .type {
//         &-row {
//             // @include row(auto, auto, none);
//         }
//         &-column {
//             gap: 1rem !important;
//         }
//     }
// }
