@import "../util/style.scss";

.wrapper {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  justify-content: center;
  // @include column(auto, auto, 1rem);
  transition: 0.1s;
  pointer-events: none;
  &.backdrop {
    background-color: rgba(0, 0, 0, 0.15);
    pointer-events: inherit;
  }
  &.in-container {
    position: absolute;
    width: 100%;
  }
}

.frame {
  pointer-events: none;
  padding: 1rem;
  & > * {
    pointer-events: all;
  }
  min-width: 100vw;
  overflow: hidden;
  &.type {
    &-stack {
      position: absolute;
      // bottom: 1rem;
      @include column(none, none, 1rem);
      &.on {
        animation: slideup 0.5s;
      }
      &.off {
        animation: slidedown 0.5s;
      }
    }
    &-center {
      justify-content: center;
      @include row(none, none, 1rem);
    }
    &-left {
      // justify-content: center;
      align-items: flex-start;
      position: absolute;
      left: 0;
      @include row(none, none, 0);
    }
    &-default {
      min-width: 0;
    }
  }
}

@keyframes slideup {
  from {
    bottom: -4rem;
  }
  to {
    bottom: 1rem;
  }
  to {
    bottom: 1rem;
  }
}

@keyframes slidedown {
  from {
    bottom: 1rem;
  }
  to {
    bottom: -4rem;
  }
  to {
    bottom: -4rem;
  }
}

@media (max-width: 600px) {
  .wrapper {
    height: calc(var(--vh, 1vh) * 100);
  }
}
